<h1>Ingredients</h1>

<p>Vegan</p>
<ul>

	<% @ingredients.each do |ingredient| %>
		<% if ingredient.diet_id == 1 %>
			<li>
				<%= ingredient.ingredient %>
			</li>
		<% end %>
	
	<% end %>
</ul>

<p>Vegetarian</p>

<ul>

	<% @ingredients.each do |ingredient| %>
			<li>
				<%= ingredient.ingredient %>
			</li>
	<% end %>
</ul>