<h1>Good Plain Cook</h1>

<h2>what's for dinner?</h2>

<% Diet.all.each do |diet| %>
  <h3><%= link_to diet.diet, diet_meals_path(diet.id) %></h3>
<% end %>

<h2>featured vegetable</h2>

	<h3>leek</h3>
	#TODO add link_to leek when I've worked out the path

<h2>ingredients</h2>




<p>Want to sign up, or sign in? Super!</p>