<h1>Welcome to Good Plain Cook!</h1>

<p>Good Plain Cook will suggest <%= link_to 'meals', meals_path %> for you based on your food preferences, the time you've got available, and what she reckons you should eat.</p>

<p>You will also be able to browse by <%= link_to 'ingredient', ingredients_path %>, learn some basic cooking techniques, and make a shopping list.</p>

<p>Super!</p>